<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Office Management System</title>
    <link rel="stylesheet" href="/css/emplyee.css">
    <link rel="stylesheet" href="/css/empadd.css">
</head>
<body>
<nav>
    <!-- <a href="/">Home</a> | -->
    <a href="/employees">Employees</a> |
    <a href="/department">Departments</a> |
    <!-- <a href="/admin/login">Admin</a> -->
</nav>
